body {
    font-family: 'Audiowide', cursive;
}
#content {
    display: inline-block;
    float:left;
    margin-right:30px;
}
#infos {
    float:left;
    width:20%;
}
@media screen and (max-width: 870px) {
    #infos {
        display: none;
    }
}